.container{
    text-align: center;
}
.relative{
    position: absolute;
}
.button{
    background-color: #5B77C0;
    border-style: solid;
    text-align: center;
}
.button img{
    width: 100%;
}

.click{
    cursor: pointer;
    width: 100%;
    height: auto;
}

.overlay1{
    position : relative;
    left: 9%;
}

