.container{
    text-align: center;
}

.button{
    background-color: #5B77C0;
    position: absolute;
    border-style: solid;
    text-align: center;
}
.button img{
    width: 100%;
}

.click{
    cursor: pointer;
    width: 100%;
    height: auto;
}

.overlay{
    padding-right: 9%;
    position: relative;
    left: 35%;
    color: white;
}