.container {
    position: absolute;
    left: 4%;
  }

.container img{
  width: 90px;
}

.centered {
  position: absolute;
  top: -145%;
  left: 50%;
  width : 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1.5px;
  color: black;
  cursor: pointer;
  }
  