.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "top"
    "below";
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr 5fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
  gap: 0px 0px;
  background-color: #207F94;
  grid-template-areas:
    ". . . . . . . . . . . . . ."
    ". . . . . . figma react next next . . . ."
    ". . . . . . nodejs nodejs express express . . . ."
    ". name name name . . rest rest graph graph apollo apollo . ."
    ". softeng softeng softeng softeng . rest rest graph graph apollo apollo . ."
    ". slogan slogan slogan slogan slogan postgres postgres mongodb mongodb mongodb mongodb . ."
    ". . . . . . postgres postgres mongodb mongodb mongodb mongodb . ."
    ". . . . . . amplify amplify amplify amplify amplify amplify . ."
    ". . . . . . . . . . . . . .";
  grid-area: top;
}


.figma { grid-area: figma; }

  .figma  img {
    width: 100%;
    
  }

.react { grid-area: react; }

  .react  img {
    width: 100%;
    
  }

.next { grid-area: next; }

  .next  img {
    width: 100%;
    
  }

.nodejs { grid-area: nodejs; }

.nodejs  img {
  width: 100%;
  
}

.express { grid-area: express; }

.express  img {
  width: 100%;
  
}

.rest { grid-area: rest; }

.rest img {
  width: 100%;
  
}

.graph { grid-area: graph; }

.graph  img {
  width: 100%;
  
}

.apollo { grid-area: apollo; }

.apollo  img {
    width: 100%;
    
  }

.postgres { grid-area: postgres; }

.postgres  img {
  width: 100%;
  
}

.mongodb { grid-area: mongodb; }

.mongodb  img {
  width: 100%;
  
}

.amplify { grid-area: amplify; 
}

.amplify img {
  width: 100%;
  
}

.name { grid-area: name; font-size: 2.5vw; font-weight: 700;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1.5px;
  color: #000000;
  display: flex;}

.softeng { grid-area: softeng; font-size: 2.5vw; font-weight: 700;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1.5px;
  color: #000000;
  border-bottom:1px solid rgb(0, 0, 0);
  display: flex;}

.slogan { grid-area: slogan; font-size: 2.5vw; font-weight: 700;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1.5px;
  color: #000000;
  display: flex;}

  .below {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr ;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0px 0px;
    background-color: #5CC7E9;
    grid-template-areas:
      ". . . . . . ."
      ". designbutton  . developbutton  . deploybutton  ."
      ". . . . . . .";
    grid-area: below;
  }
  .designbutton { grid-area: 2 / 2 / 2 / 2;
  }

  .designbutton img{
    width : 100%;
    text-align: center;
  }
  .developbutton { grid-area: 2 / 4 / span 1 / span 1;}
  .developbutton img{
    width : 100%;
    text-align: center;
  }
  .deploybutton { grid-area: 2 / 6 / span 1 / span 1;  }
  .deploybutton img{
    width : 100%;
    text-align: center;
  }