.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "top"
    "top"
    "top"
    "top"
    "bottom"
    "bottom"
    "bottom"
    "bottom"
    "bottom"
    "bottom"
    "bottom"
    "bottom";
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . myname myname myname myname myname myname myname myname myname myname myname myname . ."
    ". . . softend softend softend softend softend softend softend softend softend softend . . ."
    ". slogan slogan slogan slogan slogan slogan slogan slogan slogan slogan slogan slogan slogan slogan ."
    ". icons icons icons icons icons icons icons icons icons icons icons icons icons icons ."
    ". icons icons icons icons icons icons icons icons icons icons icons icons icons icons ."
    ". . nextjs nextjs nextjs nextjs nextjs amplify amplify amplify amplify amplify amplify amplify . ."
    ". . nextjs nextjs nextjs nextjs nextjs amplify amplify amplify amplify amplify amplify amplify . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . .";
  grid-area: top;
  background-color: #207F94;
}

.myname { grid-area: myname; text-align: center;color: #333;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10vw;
  color: #000000;
  opacity: 1;}

.softend { grid-area: softend; text-align: center; color: #333;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 5vw;
  color: #000000;
  font-weight: bold;
  opacity: 1;
}
.slogan { grid-area: slogan; text-align: center;line-height: 1em;
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  font-size : 5vw;
  color: #000000;
  border-bottom:1px solid rgb(0, 0, 0);
  border-top:1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "_1 _2 _3 _4 _5";
  grid-area: icons;
}

._1 { grid-area: _1; background: url(../public/react.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

._2 { grid-area: _2; background: url(../public/node.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

._3 { grid-area: _3; background: url(../public/rest.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

._4 { grid-area: _4; background: url(../public/graphql.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

._5 { grid-area: _5; background: url(../public/database.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

.nextjs { grid-area: nextjs; background: url(../public/next.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center;}

.amplify { grid-area: amplify; background: url(../public/amplify.png); background-repeat: no-repeat;
  background-size:  contain; background-position: center; }

.amplify img{
  width: 100%;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.bottom {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". _a ."
    ". _a ."
    ". _a ."
    ". _a ."
    ". _a ."
    ". . ."
    ". _b ."
    ". _b ."
    ". _b ."
    ". _b ."
    ". _b ."
    ". . ."
    ". _c ."
    ". _c ."
    ". _c ."
    ". _c ."
    ". _c ."
    ". . ."
    "footer footer footer";
  grid-area: bottom;
  background-color: #5CC7E9;
}

._a { grid-area: _a; }

._a img{
  width : 100%;
  text-align: center;
}

._b { grid-area: _b; }

._b img{
  width : 100%;
  text-align: center;
}

._c { grid-area: _c; }

._c img{
  width : 100%;
  text-align: center;
}

.footer { grid-area: footer; }

@media screen and (min-width:900px), screen and (min-height:500px) {
  .desktopcontainer {display:grid;}
  .smallwrapper {display:none;}
  }
  

@media screen and (max-width:900px), screen and (max-height:500px) {
  .desktopcontainer{display:none;}
  .smallwrapper {display:grid;}
  }